<div class="form_container">
    <form 
        name="form"
        #f="ngForm"
        (ngSubmit)="f.form.valid && onSubmit()"
                >

        <div class="group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" [(ngModel)]="form.email" #email="ngModel" required>
            <div class="form_error" *ngIf="email.errors && f.submitted">
                L'email est requis
            </div>
        </div>
        <div class="group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" [(ngModel)]="form.password" #password="ngModel" required minlength="4">
            <div class="form_error" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors['required']">Le mot de passe est requis</div>
                <div *ngIf="password.errors['minlength']">Le mot de passe doit contenir au moins 4 caractères</div>
            </div>
        </div>
        <div class="group">
            <button type="submit">Login</button>
        </div>
    </form>
</div>
