.form-group{
    margin: 30px;
}

label{
    margin: 10px;

}

.form-control{
    padding: 5px 10 px;
    background-color: rgb(255, 255, 255);
    border-color: black;
    width: 50px;
    height: 30 px;
}

option:hover{
    background-color: white;
}