<div>
    <h1>Ajout d'une réservation </h1>
    <form>
        <div class="form-group">
            <label for="catwayNumber">Numéro de catway :</label>
            <select class="form-control" name="catwayNumber" id="DropdownOptions">
                <option 
                *ngFor="let opt of ngOptions"
                [value]="opt"
                >
                    {{ opt }}
            </option>
            </select>
        </div>
        <div class="form-group">
            <label for="clientName">Nom du client :</label>
            <input type="text" id="clientName"
            name="clientName"
            >
        </div>
        <div class="form-group">
            <label for="boatName">Nom du bateau :</label>
            <input type="text" id="boatName"
            name="boatName"
            >
        </div>

    </form>
