<div>
    <h2>Modification de l'état du catway {{ catway.catwayNumber }} </h2>
    <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit()">
        <div class="form-group">
            <label for="catwayState">Etat :</label>
            <input type="text" id="catwayState"
            name="catwayState"
            [(ngModel)]="catway.catwayState"
            #catwayState="ngModel"
            >
        </div>
        <div class="form-group">
            <button type="submit">Modifier</button>
        </div>
    </form>
</div>


